{% extends 'base.html.twig' %}

{% block title %}Harjoitus 1{% endblock %}

{% block main %}
  <div class="container-fluid">
      <h3>Symfony 4 - harjoitus 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel elit at magna vehicula vehicula at a arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi condimentum urna vitae mi congue aliquam eu vitae urna. Nulla leo sem, vulputate sed elementum ac, tempor ac leo. Donec sodales placerat consectetur. Praesent egestas tellus et nulla venenatis, at euismod diam sollicitudin. Donec dignissim elementum lacinia. Ut pharetra gravida bibendum. Sed vel ipsum eros. Donec nec magna lacus.</p>
    </div>
{% endblock %}
