{% extends 'base.html.twig' %}

{% block title %}Artikkeli sovellus{% endblock %}

{% block body %}
   <h1>{{ article.title }}</h1>
   <p>{{ article.body }}</p>
   <hr>
   <a href="/article">Takaisin artikkelihin</a>
{% endblock %}
